.backMic{
    background-image: linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
    padding: 30px;
    border-radius: 100%;
    margin: 100px 0;
}
.borderGradient{
    background: transparent;
    border: 2px solid linear-gradient( 135deg, #72EDF2 10%, #5151E5 100%);
}