@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/YekanBakh-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/YekanBakh-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/YekanBakh-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'YekanBakh';
  src: url('/fonts/YekanBakh-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.3s ease-in-out forwards;
  }
}

body {
  background: linear-gradient(191.3deg, #007994 8.77%, #00333E 96.66%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'YekanBakh', sans-serif;
  direction: rtl;
}

* {
  font-family: 'YekanBakh', sans-serif;
}

.custom-pagination {
  position: relative !important;
  margin-top: 1.5rem; /* فاصله دلخواه */
  display: flex;
  justify-content: center;
}
