/* styles.css */
.slider {
    -webkit-appearance: none; /* حذف استایل پیش‌فرض در Safari */
    width: 100%; /* عرض نوار لغزنده */
    height: 8px; /* ارتفاع نوار لغزنده */
    background: #d79a9a; /* رنگ پس‌زمینه */
    border-radius: 5px; /* گوشه‌های گرد */
    outline: none; /* حذف حاشیه */
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* حذف استایل پیش‌فرض در Safari */
    appearance: none; /* حذف استایل پیش‌فرض در دیگر مرورگرها */
    width: 20px; /* عرض دکمه */
    height: 20px; /* ارتفاع دکمه */
    background: #4CAF50; /* رنگ دکمه */
    border-radius: 50%; /* گرد کردن دکمه */
    cursor: pointer; /* تغییر نشانگر ماوس */
  }
  
  .slider::-moz-range-thumb {
    width: 30px; /* عرض دکمه */
    height: 20px; /* ارتفاع دکمه */
    background: #000000; /* رنگ دکمه */
    border-radius: 100%; /* گرد کردن دکمه */
    cursor: pointer; /* تغییر نشانگر ماوس */
  }
  