/* styles.css */
.slider {
    -webkit-appearance: none; /* حذف استایل پیش‌فرض در Safari */
    width: 100%; /* عرض نوار لغزنده */
    height: 8px; /* ارتفاع نوار لغزنده */
    background: #919090; /* رنگ پس‌زمینه */
    border-radius: 5px; /* گوشه‌های گرد */
    outline: none; /* حذف حاشیه */
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* حذف استایل پیش‌فرض در Safari */
    appearance: none; /* حذف استایل پیش‌فرض در دیگر مرورگرها */
    width: 20px; /* عرض دکمه */
    height: 20px; /* ارتفاع دکمه */
    background: #1f0de9; /* رنگ دکمه */
    border-radius: 50%; /* گرد کردن دکمه */
    cursor: pointer; /* تغییر نشانگر ماوس */
  }
/***** Thumb Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -12px; /* Centers thumb on the track */
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;    
 }

                         /***** Track Styles *****/
/***** Chrome, Safari, Opera, and Edge Chromium *****/
input[type="range"]::-webkit-slider-runnable-track {
    background: #053a5f;
    height: 0.5rem;
  }
  
  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: #053a5f;
    height: 0.5rem;
  }

  /***** Thumb Styles *****/
/***** Firefox *****/
input[type="range"]::-moz-range-thumb {
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0; /*Removes default border-radius that FF applies*/
    background-color: #5cd5eb;
    height: 2rem;
    width: 1rem;
}